<div id="buildOrgan">
  <div class="buildOrganData">
    <div class="top">
      <div class="title">
        <%- theme.buildOrgan.title %>
      </div>
      <div class="detail">
        <%- theme.buildOrgan.detail %>
      </div>

    </div>

    <% if(theme.buildOrgan.bottonImg) { %>
    <div class="bottom">
      <img class="bottomImg" src="<%= theme.buildOrgan.bottonImg%>"
          mode="scaleToFill">
    </div>
    <% }; %>
  </div>
</div>

<script>
  var vm = new Vue({
    el: "#buildOrgan",
    data: {},
    computed: {},
    mounted() {},
    methods: {},
    created() {}
  });
</script>
<style lang="scss" scoped>
  #buildOrgan {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    color: #ffffff;
    z-index: 0;
  }

  .buildOrganData {
    margin: 0 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 30px;
      }

      .detail {
        line-height: 2;
        font-size: 20px;
      }
    }

    .bottom {
      width: 100%;

      .bottomImg {
        width: 100%;
        margin-top: 45px;
      }
    }
  }
</style>